include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include logistay *.css
recursive-include logistay *.csv
recursive-include logistay *.html
recursive-include logistay *.ico
recursive-include logistay *.js
recursive-include logistay *.json
recursive-include logistay *.md
recursive-include logistay *.png
recursive-include logistay *.py
recursive-include logistay *.svg
recursive-include logistay *.txt
recursive-exclude logistay *.pyc